<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
           "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta name="robots" content="noarchive"/>
    <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen"/>
    <title>A Simple CFP manager For Small Researcher Team</title>
  </head>

  <body>

    <ul id="navigation">
      {% if logout_url %}
      <li><a href="{{ logout_url|escape }}">Logout</a></li>
      {% endif %}
      <li><a href="/">List CFP</a></li>
    </ul>
    <h1>Add a new CFP</h1>

    <form action="/addcfp/{{ cfp.key }}" method="post">
      <fieldset>
	<legend>Conference informations</legend>
	<p><label>Short name: <input type="text" id="name"
	name="name" value="{{ cfp.name }}"/></label></p>
	<p><label>Fullname: <input type="text" id="fullname"
	name="fullname" size="55" value="{{ cfp.fullname }}"/></label></p>
	<p><label>Website url: <input type="text" id="website"
				      name="website" size="55"
				      value={% if cfp %} "{{ cfp.website }}"
				      {% else %}
				      "http://somewhereontheinternet.42"
				      {% endif %}/></label></p>
	<p><label>Category: <select name="category">
	      <option value="conference" {% ifequal cfp.category 'conference' %}
		      selected="selected" {% endifequal %}>Conference</option>
	      <option value="workshop" {% ifequal  cfp.category 'workshop' %}
		      selected="selected" {% endifequal %}>Workshop</option>
	  </select></label>
	</p>
	<fieldset>
	  <legend>Important dates</legend>
	  <p><label>The conference will begin on: <input type="text" id="begin_conf_date"
							 name="begin_conf_date"
							 value={% if cfp.begin_conf_date %} "{{ cfp.begin_conf_date }}"
								{% else %}
								"yyyy-mm-jj"{% endif %}/></label></p>
	  <p><label>The conference will end on: <input type="text" id="end_conf_date"
						       name="end_conf_date"
						       value={% if cfp.cfp.end_conf_date %} "{{ cfp.end_conf_date }}"
							      {% else %}
							      "yyyy-mm-jj"{% endif %}/></label></p>
	  <p><label>Deadline for submission: <input type="text" id="submission_deadline"
						    name="submission_deadline"
						    value={% if cfp.submission_deadline %} "{{ cfp.submission_deadline }}"
							   {% else %}
							   "yyyy-mm-jj"{% endif %}/></label></p>
	  <p><label>Notification: <input type="text" id="notification_date"
					 name="notification_date"
					 value={% if cfp.notification_date %} "{{ cfp.notification_date }}"
						{% else %}
						"yyyy-mm-jj"{% endif %}/></label></p>
	</fieldset>
	<fieldset>
	  <legend>Conference location</legend>
	  <p><label>Country: <input type="text" id="counrty"
				    name="country" value="{{ cfp.country }}"/></label></p>
	  <p><label>City: <input type="text" id="city"
				 name="city" value="{{ cfp.city }}"/></label></p>
	</fieldset>
	<fieldset>
	  <legend>Other informations</legend>
	  <p><label>Keywords: <select name="keywords" size="3">
		<option {% if cfp.isSecurity %}selected="selected"{% endif %}>Security</option>
		<option {% if cfp.isOS %}selected="selected"{% endif %}>OS</option>
		<option {% if cfp.isSmartcard %}selected="selected"{% endif %}>Smartcard</option>
	      </select></label>
	  </p>
	  <p><label>Acceptance rate: <input type="text" id="acceptance_rate"
				    name="acceptance_rate" value="{{ cfp.acceptance_rate }}"/></label></p>
	</fieldset>
	<input type="submit" value="Save this CFP"/>
      </fieldset>
    </form>
  </body>
</html>
