<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
           "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta name="robots" content="noarchive"/>
    <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen"/>
    <title>A Simple CFP manager For Small Researcher Team</title>
  </head>

  <body>
    <ul id="navigation">
      {% if logout_url %}
      <li><a href="{{ logout_url|escape }}">Logout</a></li>
      {% endif %}
      <li><a href="/">All CFPs</a></li>
      <li><a href="/addcfp/">Add a CFP</a></li>
    </ul>

    <ol>
      {% for cfp in cfps %}
      <li>
	<a href="{{ cfp.website }}">{{ cfp.name }}</a> &mdash;
	<em>{{ cfp.fullname }}</em> ({{ cfp.category }}) &mdash;
	{{ cfp.city }},	{{ cfp.country }} &mdash;
	<span class="deadline">Submission deadline:
	  {{ cfp.submission_deadline|date:"d/m/Y" }}</span> &mdash;
	Notification: {{ cfp.notification_date|date:"d/m/Y" }}
	{% if cfp.sumbitters %} &mdash; [{{ cfp.submitters|join:","}}] {% endif %}
	<a href="/update/{{ cfp.key }}" class="control">edit</a>
      </li>
      {% endfor %}
    </ol>
  </body>
</html>
