<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
           "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta name="robots" content="noarchive"/>
    <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen"/>
    <title>A Simple CFP manager For Small Researcher Team</title>
  </head>

  <body>
    <div class="warning">
      <p>I am sorry but I can't let you continue wander here
	unpunished. Because you don't have a proper clearance, I am in
	the obligation to stop you.</p>
      <p><a href="{{ logout_url|escape }}">Try to login with another
	  identity, maybe you will be lucky...</a></p>
    </div>
    <p>This software has been designed to be used by small researcher
    team. But it's a free software, you can run your own instance.
    For more details
    see <a href="https://github.com/CaptainPatate/ascfpmfsrt">here</a></p>
  </body>
</html>
